In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("C:/Users/atray/OneDrive/Documents/Python/Recommenders System Udemy/Movie Rating/rating.csv")

In [7]:
print(df.userId.max(), df.movieId.max())

138493 131262

In [8]:
df.userId = df.userId - 1

In [9]:
df

          userId  movieId  rating            timestamp
0              0        2     3.5  2005-04-02 23:53:47
1              0       29     3.5  2005-04-02 23:31:16
2              0       32     3.5  2005-04-02 23:33:39
3              0       47     3.5  2005-04-02 23:32:07
4              0       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138492    68954     4.5  2009-11-13 15:42:00
20000259  138492    69526     4.5  2009-12-03 18:31:48
20000260  138492    69644     3.0  2009-12-07 18:10:57
20000261  138492    70286     5.0  2009-11-13 15:42:24
20000262  138492    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [10]:
unique_movie_ids = set(df.movieId.values)

In [11]:
count = 0

In [12]:
movie2idx = {}

In [13]:
for movie_ids in unique_movie_ids:
    movie2idx[movie_ids] = count
    count += 1

In [14]:
df['movie_idx'] = df.apply(lambda row: movie2idx[row.movieId], axis=1)

In [15]:
df = df.drop(columns = ['timestamp'])

In [16]:
df.to_csv('C:/Users/atray/OneDrive/Documents/Python/Recommenders System Udemy/Movie Rating/edited_rating.csv')

In [17]:
sys.getdefaultencoding()

'utf-8'