In [1]:
import pickle

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from collections import Counter

In [5]:
df = pd.read_csv('C:/Users/atray/OneDrive/Documents/Python/Recommenders System Udemy/Movie Rating/edited_rating.csv')

In [6]:
print("original dataframe size:" , len(df))

original dataframe size: 20000263

In [7]:
N = df.userId.max()+1
M = df.movie_idx.max()+1

In [8]:
userId_count = Counter(df.userId)
movieId_count = Counter(df.movie_idx)

In [9]:
n = 10000
m = 2000

In [10]:
user_ids = [u for u , c in userId_count.most_common(n)] # most_common() returns a tuple of users (u) and count (c). Since we want only users so we take only u.
movie_ids = [m for m, c in movieId_count.most_common(m)]

In [11]:
df_small = df[df.userId.isin(user_ids) & df.movie_idx.isin(movie_ids)].copy()

In [12]:
df_small

          Unnamed: 0  userId  movieId  rating  movie_idx
960              960      10        1     4.5          1
961              961      10       10     2.5         10
962              962      10       19     3.5         19
963              963      10       32     5.0         32
964              964      10       39     4.5         39
...              ...     ...      ...     ...        ...
19998291    19998291  138473     4993     5.0       4900
19998292    19998292  138473     5349     3.0       5255
19998293    19998293  138473     5378     4.0       5284
19998295    19998295  138473     5449     4.0       5355
19998296    19998296  138473     5459     4.0       5365

[5392025 rows x 5 columns]

In [13]:
new_user_id_map = {}
new_movie_id_map = {}

In [14]:
i = 0
for old in user_ids:
    new_user_id_map[old] = i
    i += 1
print("i: ", i)

i:  10000

In [15]:
j=0
for old in movie_ids:
    new_movie_id_map[old] = j
    j += 1
print("j: ", j)

j:  2000

In [16]:
print("Setting new ids: ")

Setting new ids:

In [17]:
df_small.loc[:, "userId"] = df_small.apply(lambda row: new_user_id_map[row.userId], axis =1)

In [18]:
df_small.loc[:, "movie_idx"] = df_small.apply(lambda row: new_movie_id_map[row.movie_idx], axis=1)

In [19]:
print("Small dataframe size is: ", len(df_small))
print("Maximum user ids are: ", df_small.userId.max())
print("Maximum movie ids are: ", df_small.movie_idx.max())

Small dataframe size is:  5392025
Maximum user ids are:  9999
Maximum movie ids are:  1999

In [20]:
df_small.to_csv('C:/Users/atray/OneDrive/Documents/Python/Recommenders System Udemy/Movie Rating/very_small_rating.csv')